p h3 {
    font-family: 'Roboto Serif', 'Open Sans', Arial, sans-serif;
}

h3.study-title {
    font-weight: 600;
}



/* /////////////////////////////////////////////// */

.description {
    width: 100%;
    justify-content: space-around;
    background-color: #192B4D;
    /* background-image: -webkit-linear-gradient(38deg, #0f1a2e 30%, transparent 30%), url("assets/img/cells_bg.png"); */
    /* background-image: -webkit-linear-gradient(30deg, #013A6B 50%, url("assets/img/poligon_background.png") 50%); */
    display: flex;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-container {
    display: flex;
    max-height: 100%;
    max-width: 50%;

}

#aboutMe {
    font-family: 'Quicksand';
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

#aboutMe>h2 {
    /* width: 60%; */
    /* display: flex; */
    /* justify-self: start; */
    color: var(--yellow);
    font-weight: 500;
    font-size: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    order: 2;
}

#aboutMe>.text {
    /* font-size: 40px; */
    text-align: justify;
    width: 50%;
    word-wrap: break-word;
    order: 1;
}


.text>p {
    font-size: 20px;
}



.image-container>img {

    border-radius: 50%;
    /* border: 5px solid #0f1a2eaf; */
    outline: 5px solid hsla(191, 96%, 29%);
    max-width: 400px;
    /* max-height: 200px; */
    align-self: center;
    margin: 3rem;
    position: relative;
    box-shadow:
        /* 0 0 0 20px hsla(191, 51%, 40%, 100%), */
        /* 0 0 0 15px hsla(191, 51%, 50%, 90%), */
        0 0 0 20px hsla(191, 96%, 60%, 90%),
        0 0 0 40px hsla(191, 51%, 50%, 70%),
        /* 0 0 0 30px hsla(191, 51%, 80%, 50%), */
        5px 5px 30px 35px #0e0e0efd;
}




.description>.desc_text {
    width: 50%;
    margin-left: 3rem;
    padding: 1rem;
    align-self: center;
    backdrop-filter: blur(10px);
    /* color: #0f1a2e; */
    color: #f5f5f5;
    /* color: white; */
    font-family: 'Quicksand';
}


.desc_text>h1 {
    color: #e0c200;
    font-weight: 700;
    font-size: 5rem;
}

.desc_text>p {
    font-size: 1.2rem;
}


/* ///////////////////////////////////////////// */
.studies {
    /* margin-top: 40px; */
    text-decoration: none;
}

.studies>* {
    display: inline-flex;

}

.studies>.title:first-child {
    margin-bottom: 40px;
}

.studies>.study-line {
    background: #b0a3d4;
    height: 400px;
    padding: 40px 20px;
    margin: auto 40px;
    align-items: center;
}

h3.study-title {
    /* font-family: 'Roboto', 'Open Sans', Arial, sans-serif; */
    font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .5mm;

}


.study-line:nth-child(odd) {
    background-color: #03768f;
}

.study-line:nth-child(odd)>.study-text {
    order: 1;
}

.study-line:nth-child(odd)>img {
    order: 2;
}

.study-line>img {
    /* background-color: red; */
    max-width: 30%;
    width: auto;
}

.study-line>.study-text {
    max-width: 70%;
    text-align: justify;
    word-wrap: break-word;
}

/* /////////////////////////////////////////////// */

.projects {
    text-decoration: none;

}

.projects>.row>.card.col {
    margin: 40px 10px 0 10px;
    max-height: 500px;
    box-sizing: border-box;
    /* border: 3px solid black; */
}

.project-container {
    margin-top: 2rem;
}

.card {
    max-height: auto !important;
    color: var(--darkBlue);
    border-color: #03768f;
    margin-top: 0 !important;

}

.card-img {
    margin: 0;
}


.card-img-top {
    display: flex;
    /* width: 100px; */
    margin: auto;
}


/* ////////////////////////////////////////////////////////////// */
/* ########################## responsive ######################## */
/* ////////////////////////////////////////////////////////////// */
@media (max-width:576px) {
    p {
        font-size: .8rem;
        line-height: 1rem;
    }

    #aboutMe>h2 {

        height: auto;


    }

    #aboutMe>.text {
        margin-top: 2rem;
        height: auto;
        width: auto;
    }

    #aboutMe>.text>p {
        line-height: 1.5rem;
    }

    #aboutMe {
        margin: auto;
        width: 100%;
        display: block;
    }



    .description {
        margin-bottom: 1rem;
        width: 100%;
        display: block;
        align-items: center;
        background-image:
            -webkit-linear-gradient(90deg,
                #0f1a2e 60%,
                transparent 60%);
    }

    .description>.image-container {
        /* background-color: red; */
        max-width: 100%;
        max-height: 50%;
        padding: 1rem;
        /* margin-bottom: 5rem; */
    }

    .image-container>img {
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
        width: 150px;
    }

    .desc_text {
        /* max-height: 81%; */
        flex-direction: column;
        display: -ms-flexbox;
        align-self: center;
        align-self: baseline;
        background-color: #03768f;
        max-width: 100%;
        width: 100% !important;
        line-height: 3.7mm;
        text-align: justify;
        margin-top: 2rem;
        margin-left: auto !important;
        margin-right: auto !important;
    }


    .desc_text>p {
        /* max-width: 100%; */
        color: #f2f2f2;

    }


    .studies {
        padding: auto 0;
        width: 100vw;
        max-width: 95% !important;
        /* display: block; */
    }

    .study-line {
        max-width: 100% !important;
        margin: 0px !important;
        display: block;
    }

    .study-line>img {
        display: flex;
        max-width: 150px;
        margin: auto auto 2rem auto;
    }

    .study-line>.study-text {
        /* display: flex; */
        max-width: 100%;

    }

    .project-container {
        /* max-width: fit-content; */
        display: flex;
        justify-content: space-around;
    }

    .card {
        margin-bottom: 2rem !important;
    }
}

@media (min-width: 576px) {

    /* small */
    p {
        font-size: .79rem;
    }

    section {
        margin: auto auto 3rem auto;
        width: 100%;
        padding: 0 2rem;
    }




    .description>.desc_text>p {
        align-self: center;
        /* color: #0f1a2e; */
        /* font-size: .7rem !important; */
        text-align: justify;
    }

    .studies>.title:first-child {
        margin-bottom: 2rem;
    }

    .studies>.study-line {
        display: flex;
        background: #b0a3d4;
        max-height: 600px;
        /* padding: 2rem 1rem; */
        padding: 1rem 1rem;
        margin: auto 1rem;
        align-items: center;
    }

    .study-line:nth-child(odd) {
        background-color: #03768f;
    }


    .study-line>.study-text {
        max-width: 60%;
    }

    .study-line>img {
        max-width: 40%;
    }

    .card.col-9 {
        padding: 1rem;
        display: flex;
        margin: auto auto 2rem auto !important;
        align-self: center;
        justify-self: center;

    }
}

@media (min-width: 768px) {
    p {
        font-size: 1rem;
    }

    /* .description>.desc_text>p {
        align-self: center;
        color: #0f1a2e;
        font-size: 1.1rem;
        text-align: justify;
    } */

    .studies>.title:first-child {
        margin-bottom: 2rem;
    }

    .studies>.study-line {
        display: flex;
        background: #b0a3d4;
        height: 300px;
        padding: 1rem 1rem;
        margin: auto 1rem;
        align-items: center;
    }

    .study-line:nth-child(odd) {
        background-color: #03768f;
    }


    .study-line>.study-text {
        max-width: 70%;
    }

    .study-line>img {
        max-width: 30%;
    }

}

@media (min-width: 992px) {


    .study-line>img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
    }

    .study-line>.study-text {
        max-width: 70%;
        padding: 2rem;
    }

    .study-line {
        justify-content: space-around;
        padding: 3rem;

    }

    .study-line>img {
        max-height: 100%;
        max-width: 30%;
        padding: 2rem;
    }
}

@media (min-width: 1200px) {
    .description>img {
        max-width: 200px;
        align-self: center;
    }


}

@media (min-width: 1400px) {
    /* xxl */
}

@media screen and (max-width:600px) {}