/* colors */
/* yellow: var(--yellow *)/
/* blue: #03768F; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&display=swap');

:root {
    --yellow: #e0c200;
    --darkBlue: #0f1a2e;
    --white: #f5f5f5;

}

body {
    background-color: var(--darkBlue);
    max-width: 1600px;
}

footer {
    
    border-top:1px solid  var(--yellow);
    width:80%;
    color: var(--white);
    background-color: var(--darkBlue);
}

footer ul {
    list-style: none;
    text-decoration: none;
}
footer ul li:first-child {
    text-decoration: underline;
}
footer>*>*>*>a {
    text-decoration:none;
    color:white;
}
.copyright {
    text-align: center;
}
.screen-height {
    height: 100vh;
    box-sizing: border-box;
}
section {
    color: var(--white);
    margin: auto auto 0 auto;
    width: 100%;
    padding: 5%;
}
.dark-blue {
    background-color: #192B4D;
    color: var(--white)

}
.dark-blue:hover {
    background-color:#f5f5f5;
    color:#192B4D;
    border: 1px solid #192B4D;
}
.yellow-line {
    color: var(--yellow);
    height: 1px;
    opacity: 1;
    /* margin-bottom: 3rem; */
    width: 95%;
    margin: 3rem auto;
}

.active {
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
}
section {
    margin-bottom:3rem;
}
.title {
    
    /* font-family: 'Courier New', 'Courier Prime', sans-serif; */
    font-size: 3rem;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 4rem;
    width: 100%;
    justify-content: center;
    display: flex;
    overflow: hidden;
    text-align: center;
    /* text-decoration: underline; */
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid var(--white);
    grid-column: 1/-1;
}



/* +++++++++ */
/* h2 {} */

.title>span {
    background: var(--darkBlue);
    padding: 0 10px;
}

/* //////////////////////////////////////////////// */
/* #navigation-bar { */
/* background-color: transparent; */
/* background-color: transparent; */

/* } */
nav {
    /* background-color: cadetblue; */
    font-family: 'Quicksand' , Helvetica, sans-serif;
    /* background-color: transparent; */
    background-image: url(../assets/img/background.jpg);
    backdrop-filter: blur(75px);
}

#navigation-bar>ul {
    flex-grow: 100;
}

.navbar-brand {
    font-family: 'Oregano';
    color: var(--yellow);
    /* color: #CEBACF; */
}

.navbar-brand:hover {
    color: var(--white);
}

.navbar-toggler {
    color: var(--yellow);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--yellow);
}

.menu_icon {
    width: 40px;
}

@media (max-width:576px) {
    .title {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: .3rem;
    }
}