.profile_image_container {
    background-color: white;
    background-image: -webkit-linear-gradient(transparent 250px, #0f1a2e 250px), url("assets/img/poligon_background.png");
    background-size: 100%;
    max-width: 100%;
    font-family: 'Quicksand';
}

.profile_image_container>h3 {
    color: white;
    align-self: bottom;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-top: 2rem;
}

.profile_image_container>h5 {
    color: #c0c0c0;
    text-align: center;
    font-weight: 500;
}

.cv_image {
    display: flex;
    width: 25%;
    margin: auto;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
}

.tech_container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    width: 100%;
    justify-content: space-around;
    grid-gap: 15px;
}


.tech {
    color: #d0d0d0;
}

.tech_icon {
    background-color: #f5f5f5;
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 200px;
}

.tech_icon>img {
    max-height: 125px;
    max-width: 100%;
}

/*  */

/*  */
.tech_desc {
    text-align: center;
    word-wrap: break-word;
}

.tech_title {
    font-size: 16px;
    padding: 3px;
}

.extras_container {
    display: flex;
}

.extra {
    color: #f5f5f5;
    height: 200px;
    padding: 20px;
    margin: auto;
    width: 100%;
}

/* 
.extra:last-child {
    border-bottom: 1px solid #f5f5f5;
} */

.extra>* {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 10px;
}

.extra>.icon>img {
    max-width: 150px;
    background-color: #f5f5f5;
}

.bar,
.progress {
    width: 200px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #f5f5f5;
    border-radius: 30px;
    justify-content: start;
}

.progress {

    background-color: #e0c200;
}


.im {
    width: 55%;
}

.beg {
    width: 30%;
}

.sadv {
    width: 60%;
}

.adv {
    width: 75%;
}

.experiences {

    color: #f5f5f5;
}

.download_cv {
    /* display: flex; */
    width: 100%;
    justify-content: space-around;
}

.download_cv>a>button {
    color: #0f1a2e;
    margin-bottom: 1rem;
    height: 50px;
    width: 100%;
    /* background-image: url("assets/img/cells_bg.png"); */
    border: 2px solid transparent;
    background-color: crimson;
    background-image: -moz-radial-gradient(circle at top right, yellow, orange);
    background-image: radial-gradient(circle at top right, yellow 0%, orange 100%);

}

.download_cv>a>button {
    text-decoration: none;
    color: #0f1a2e;
    font-weight: 600;
}

.download_cv>button:active {
    background-image: radial-gradient(circle at top right, yellow 0%, orange 100%);

}

.exp {
    height: 100px;
    margin: 2rem 1rem;
}

@media (max-width:576px) {
    body {
        background-color: #0f1a2e;
    }

    .title {
        font-size: 2rem;
        letter-spacing: .2rem;
        margin-bottom: 10px;
    }

    .profile_image_container {
        background-image: -webkit-linear-gradient(transparent 150px, #0f1a2e 150px), url("assets/img/poligon_background.png");
    }

    .cv_image {
        width: 50%;
    }

    .tech_container {
        grid-template-columns: 100px 100px 100px;

    }

    .tech_icon {
        height: 100px;
    }

    .tech_icon>img {
        max-height: 80px;
    }

    .extras_container {
        display: block;
    }

    .extra {
        border-bottom: 1px solid #f5f5f5;
    }

    .extra>.icon>img {
        max-width: 100px;

    }

}