body {
    background-color: #0f1a2e;
}

section {
    margin: auto auto 50px auto;
    width: 100%;
    padding: 5%;
}

.description {
    display: flex;
    height: 300px;
    background-color: #24406f;
    align-self: center;
    color: white;
}

.title {
    color: #24406f;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px auto;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #e0c200;
}

/* /////////////////////////////////// */
.description img {
    display: none;
}

.description {
    font-size: .8rem;
}