/* colors */
/* yellow: #E0C200 */
/* blue: #03768F; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f1a2e;
}

section {
    margin: auto auto 50px auto;
    width: 100%;
    padding: 5%;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: 500;
    color: #e0c200;
    width: 100%;
    justify-content: center;
    display: flex;
    overflow: hidden;
    text-align: center;
}


/* +++++++++ */

.title:before,
.title:after {
    background-color: #e0c200;
    content: "";
    height: 1px;
    align-self: center;
    width: 50%;
}

.title:before {
    right: 0.5em;
    margin-left: -50%;
}

.title:after {
    left: 0.5em;
    margin-right: -50%;
}

/* +++++++++ */
/* h2 {} */

.title>span {
    background: #0f1a2e;
    padding: 0 10px;
}

/* //////////////////////////////////////////////// */

#navigation-bar>ul {
    flex-grow: 100;
}

.navbar-brand {
    font-family: 'Oregano';
    color: #e0c200;
    /* color: #CEBACF; */
}

.navbar-toggler {
    color: #e0c200;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #e0c200;
}

.menu_icon {
    width: 40px;
}